---
import Layout from '../layouts/LayoutLogin.astro';
import RegisterForm from '../components/forms/user/RegisterForm.svelte';
---

<Layout title="Register">
   <div class="max-w-md mx-auto mt-8 text-gray-800">
      <h1 class="text-4xl text-center mb-6">
         Welc<span class="text-[#D593D1]">ome</span>!
      </h1>
      <RegisterForm client:load />
   </div>
</Layout>
