---
import NavbarButton from './NavbarButton.astro';
import { Icon } from 'astro-icon/components';
---

<nav class="flex flex-col items-center gap-4 h-full">
   <div
      class="text-2xl text-gray-800 mb-4 bg-white border-2 rounded-3xl shadow-lg p-4"
   >
      SyncLife.
   </div>
   <div
      class="bg-white border-2 rounded-3xl shadow-lg p-4 w-32 flex flex-col justify-between flex-grow"
   >
      <ul class="space-y-4 list-none">
         {
            [
               {
                  href: '#dashboard',
                  label: 'Dashboard',
                  icon: 'dashboard',
               },
               { href: '#stock', label: 'Stock', icon: 'inventory-box' },
               {
                  href: '#reminders',
                  label: 'Reminders',
                  icon: 'check',
               },
               { href: '#notes', label: 'Notes', icon: 'pencil' },
               {
                  href: '#rutines',
                  label: 'Rutines',
                  icon: 'bookmark',
               },
               { href: '#shobot', label: 'ShoBot', icon: 'send' },
            ].map((item) => (
               <NavbarButton
                  url={item.href}
                  label={item.label}
                  icon={item.icon}
               />
            ))
         }
      </ul>
      <li class="mt-4 list-none flex flex-col items-center">
         <a
            href="#logout"
            class="block relative text-gray-800 hover:bg-[#D54045] hover:text-white px-4 py-2 rounded-2xl transition-all duration-300 ease-in-out"
         >
            <Icon
               name="logout"
               class="w-6 h-6 hover:scale-110 transition-transform duration-300 ease-in-out"
            />
         </a>
         <span class="text-xs text-center mt-1">Logout</span>
      </li>
   </div>
</nav>
