---
import LogoutButton from './LogoutButton.astro';
import NavbarButton from './NavbarButton.astro';
---

<nav class="flex flex-col items-center gap-4 h-full">
   <a
      href="/"
      class="text-2xl text-gray-800 mb-4 bg-white border-2 rounded-3xl shadow-lg p-4"
      style="font-family: 'Dream Avenue'; color: #333;"
   >
      S<span class="text-[#D593D1]">y</span>ncLife<span class="text-[#D593D1]"
         >.</span
      >
   </a>

   <div
      class="bg-white border-2 rounded-3xl shadow-lg p-4 w-32 flex flex-col justify-between flex-grow"
   >
      <ul class="space-y-4 list-none">
         {
            [
               { href: '/', label: 'Dashboard', icon: 'dashboard' },
               { href: '/user', label: 'Account', icon: 'user' },
               { href: '/stock', label: 'Stock', icon: 'inventory-box' },
               { href: '/reminders', label: 'Reminders', icon: 'check' },
               { href: '/notes', label: 'Notes', icon: 'pencil' },
               { href: '/rutines', label: 'Rutines', icon: 'bookmark' },
               { href: '/shobot', label: 'ShoBot', icon: 'send' },
            ].map((item) => (
               <NavbarButton
                  url={item.href}
                  label={item.label}
                  icon={item.icon}
                  isActive={false}
               />
            ))
         }
      </ul>
      <LogoutButton />
   </div>
</nav>

<script>
   const currentPath = window.location.pathname;

   const buttons = document.querySelectorAll('a');

   buttons.forEach((button) => {
      const buttonUrl = button.getAttribute('href');
      if (buttonUrl === currentPath) {
         button.classList.add('bg-[#D593D1]', 'text-white');
      } else {
         button.classList.remove('bg-[#D593D1]', 'text-white');
      }
   });
</script>
