---
interface Props {
   title?: string;
}

const { title } = Astro.props;
import DarkMode from './DarkMode.svelte';
import Hamburger from './buttons/Hamburguer.svelte'
---

<div class="flex flex-col h-full w-full">
   <div class="bg-white dark:border-transparent border-2 rounded-3xl shadow-lg flex flex-col h-full w-full p-6 dark:bg-darkContainer">
      {title && (
         <>
         <div class="relative flex items-center my-4">
            <div class="absolute left-0 sm:hidden">
               <Hamburger client:load />
            </div>
            <h1 class="text-3xl font-bold mx-auto bg-clip-text text-transparent bg-gradient-to-r from-black dark:from-darkText via-gray-800 dark:via-darkMuted to-lightColor dark:to-darkHover">
               {title}
            </h1>
            <div class="absolute right-0">
               <DarkMode client:load />
            </div>
         </div>
               <hr class="border-gray-300 border-t-1 w-[95%] mx-auto " />
            </>
         )
      }
      <div class="p-6">
         <slot />
      </div>
   </div>
</div>
