<header
   class="flex items-center justify-center py-4 bg-white border-2 rounded-3xl shadow-lg"
>
   <h1 class="text-6xl text-gray-800" style="font-family: 'Dream Avenue';">
      S<span class="text-[#D593D1]">y</span>ncLife<span class="text-[#D593D1]"
         >.</span
      >
   </h1>
</header>
