<header
   class="flex items-center justify-center py-4 bg-white border-2 rounded-3xl shadow-lg"
>
   <h1 class="text-6xl text-gray-800 dark:text-white" style="font-family: 'Dream Avenue';">
      S<span class="text-[#D593D1] dark:bg-darkAccent">y</span>ncLife<span class="text-[#D593D1] dark:[#FF1493]"
         >.</span
      >
   </h1>
</header>
